<!-- world.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Artist Search</title>

    <style>
        body{
            margin-left: 250px;
            padding: 20px;
            background-color: #353445;
            color: #FFF9E8;
        }
    </style>
</head>
<body>

    <!-- {% include 'navbar.html' %} -->

    <h1>Top Artist Search</h1>

    <form action="{% url 'world' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    {% if search_result %}
        <div id="result">
            {% for item in search_result %}
                <h2>{{ item.0 }}</h2>
                <p>Top Artist: {{ item.1 }}</p>
                <p>Song Count: {{ item.2 }}</p>
                <hr>
            {% endfor %}
        </div>
    {% endif %}

</body>
</html>
